.tabListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    height: 100%;
  }
}

.closeIcon {
  opacity: 0.2;
}

.tabListItem:hover {
  cursor: pointer;
  background-color: #c5c5c5;
  user-select: none;
}

.closeIcon:hover {
  opacity: 0.8;
}
