.tabListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--text);

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    height: 100%;
    margin-left: 0.4rem;
  }

  &:hover {
    cursor: pointer;
    background-color: #e6e6e6;
    user-select: none;
    box-shadow: 0 7px 5px -5px rgba(165, 165, 165, 0.5);
    color: #000000;
  }

  &:focus {
    background-color: #cccccc;
    outline: none;
    box-shadow: 0 7px 5px -5px rgba(165, 165, 165, 0.5);
    color: #000000;
  }
}

.closeIcon {
  opacity: 0.2;
  margin-left: 0.4rem;

  &:hover {
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
    outline: none;
  }
}

.pinIcon {
  color: #4d4d4d;
  margin-left: 0.4rem;
}

.speakerIcon {
  color: #4d4d4d;
  margin-left: 0.4rem;
}

.mutedSpeakerIcon {
  color: #4d4d4d;
  margin-left: 0.4rem;
}
