.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-spacing);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  background-color: #ffffff;
  transition: box-shadow 0.2s ease-in-out;
  padding: 0 1rem;

  .searchContainer {
    position: relative;
  }

  input {
    width: 14rem;
    padding: 0.3rem 0.6rem;
    border: none;
    background-color: #ededee;
    border-radius: 8px;
    text-indent: 26px;
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0 3px 3px -2px #a7a7a7;

    &:focus {
      outline: none;
      box-shadow: 0 6px 6px -4px #c0c0c0;
    }
  }

  .searchIcon {
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 22px;
    color: grey;
  }

  .closeIcon {
    opacity: 0.2;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: all 0.2s ease-in-out;
      transform: scale(1.1);
      outline: none;
    }
  }
}
