.windowSection {
  background-color: var(--background);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);

  h3 {
    margin-bottom: 0.5rem;
  }

  .emptyListMessage {
    color: #a1a1a1;
  }
}
